= render partial: "layouts/header"
%body
  .talkroom__body
    .talkroom__contents
      .talkroom_current-user
        .talkroom__current-user__content
          .talk__current-user
            =link_to user_path(current_user) do
              = attachment_image_tag current_user, :profile_image, fallback: "no-image.png", class: "talk__current-icon"
          .talkroom__user__name
            =link_to user_path(current_user) do
              = current_user.username
        .send__message
          = form_for @message do |f|
            = f.text_field :content, placeholder: "メッセージを入力" , size: 70, class:"send__message-field"
            = f.hidden_field :talkroom_id, value: @talkroom.id
            = f.submit "投稿",class: 'talk-submit'
      .talkroom__messages
      .talkroom__follow-user
        .talk__follow-user
          =link_to user_path(@user) do
            = attachment_image_tag @user, :profile_image, fallback: "no-image.png", class: "talk__follow-icon"
          .talkroom__follow-user__contents
            .talkroom__user__name
              =link_to user_path(@user) do
                = @user.username
            .talkroom__follow-user__follows
              .talkroom__follow__numbers
                = link_to "フォロー", follows_user_path(@user.id)
              .talkroom__follower__numbers
                = link_to "フォロワー", followers_user_path(@user.id)
    -# .chats
    -#   .chat
    -#     - if @messages.present?
    -#       - @messages.each do |m|
    -#         .chat-box
    -#           .talkroom-user
    -#             = attachment_image_tag m.user, :profile_image, fallback: "no-image.png", class: "talkroom__user-icon"
    -#           .chat-hukidashi
    -#             %strong= m.content
    -#             %br/
    -#             = m.created_at.strftime("%Y-%m-%d %H:%M")
                -# - @entries.each do |e|
                -# {:href => "/users/#{current_user.id}"}
                -# {:href => "/users/#{@user.id}"}
