= render partial: "layouts/header"
%body
  .cuurrent-user__profile
    .mypage__nav
      = attachment_image_tag @user, :profile_image, fallback: "no-image.png", class: "mypage-user__attachment_image"
      .profil__contents
        .user-name__profil-edit
          .user__name
            = @user.username
          - if user_signed_in?
            - if @user.id == current_user.id
              .profil-edit
                = link_to "プロフィール編集", edit_user_path(@user), class: "profil-edit__text"
          - if user_signed_in?
            - if current_user != @user
              - if @user.followed_by?(current_user)
                .followed__btn__mypage
                  = link_to "フォロー中", user_relationships_path(@user.id), class: "followed__text", method: :delete
              - else
                .follow__btn__mypage
                  = link_to "フォローする", user_relationships_path(@user.id), class: "follow__text", method: :post
            - unless @user.id == current_user.id
              - if (current_user.followed_by? @user) && (@user.followed_by? current_user)
                - if @isTalkroom == true
                  %p.user-show-room
                    %a.btn.btn-primary.btn-lg{:href => "/talkrooms/#{@talkroomId}"} チャットへ
                - else
                  = form_for @talkroom do |f|
                    = fields_for @entry do |e|
                      = e.hidden_field :user_id, value: @user.id
                    = f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"

        .post-follow__numbers
          .post__numbers__text
            投稿数 :
          .post__numbers
            = @user.photos.count
          .post-follow__numbers__nav
            = link_to "フォロー", follows_user_path(@user.id)
          .post-follow__numbers__nav
            = link_to "フォロワー", followers_user_path(@user.id)
        .profil__text
          = simple_format @user.profile
  .user__profile__body
    .user__posted__images
      - @user.photos.each do |photo|
        = link_to photo_path(photo) do
          = attachment_image_tag photo, :image, fallback: "no-image.png", class: "posted__image"
