= render partial: "layouts/header"
%body
  .header__nav
    .nav__menu
      .nav__menu__text
        = link_to "クリエイター", users_path, class: "nav__menu__btn"
      
      - if user_signed_in?
        .nav__menu__right
          .nav__menu__sign
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav__menu__btn"
          .nav__menu__post
            .nav__menu__post__enclosure
              = link_to "投稿", new_photo_path,  class: "post-btn"
      - else
        .nav__menu__right
          .nav__menu__sign
            = link_to "ログイン", new_user_session_path, class: "nav__menu__btn"
          .nav__menu__sign
            = link_to "新規登録", new_user_registration_path, class: "nav__menu__btn"
  .index__body
    .index__diaries
      - @photos.each do |photo|
        .index__diaries__contents
          .diary__user
            .diary__user__icon
              = link_to user_path(photo.user) do
                = attachment_image_tag photo.user, :profile_image, fallback: "no-image.png", class: "diary__user__image"
            .diary__user__name
              = link_to user_path(photo.user) do
                = photo.user.username
          = link_to photo_path(photo.id) do
            = attachment_image_tag photo, :image, class: "post__diary"
          .diary__icon__contents
            - if user_signed_in?
              -if photo.favorited_by?(current_user)
                = link_to photo_favorites_path(photo), method: :delete do
                  .diary__heart__icon
                    = icon('fas', 'heart', class: "diary__heart")
              - else
                = link_to photo_favorites_path(photo), method: :post do
                  .diary__heart__icon
                    = icon('far', 'heart', class: "diary__heart")
            - else
              .index__count-num
                = photo.favorites.count
            .diary__comments__icon
              = link_to photo_path(photo.id) do
                = icon('far', 'comment', class: "diary__comments")

    .index__users
      - if user_signed_in?
        .index__current__user
          .index__current__icon
            = link_to user_path(current_user) do
              = attachment_image_tag current_user, :profile_image, fallback: "no-image.png", class: "index-current__image"
          .index__current__username
            = link_to user_path(current_user) do
              = current_user.username
      .index__reration__users
-# %h1 Photos#index
-# %p Find me in app/views/photos/index.html.haml


