= render partial: "layouts/header"
%body
  .search__body
    - @photos.each do |photo|
      .search-photo__contents
        .posted-photo__user
        .posted-photos
          .searched-photo__title 
            = photo.title
          .searched__photo-image
            = link_to photo_path(photo.id) do
              = attachment_image_tag photo, :image, class: "searched__image"
          .searched__icon__contents
            - if user_signed_in?
              -if photo.favorited_by?(current_user)
                = link_to photo_favorites_path(photo), method: :delete do
                  .searched__heart__icon
                    = icon('fas', 'heart', class: "searched__heart")
              - else
                = link_to photo_favorites_path(photo), method: :post do
                  .searched__heart__icon
                    = icon('far', 'heart', class: "searched__heart")
            - else
              .index__count-num
                = photo.favorites.count
            .diary__comments__icon
              = link_to photo_path(photo.id) do
                = icon('far', 'comment', class: "diary__comments")