= render partial: "layouts/header"
%body
  .photo__details__body
    .photo__details__contents
      .details__diary
        - if user_signed_in?
          - if @photo.user.id == current_user.id
            .details__btns
              .details__edit__btn
                = link_to "編集", edit_photo_path(@photo), class: "details-edit__text"
              .details__delete__btn
                = link_to "削除", photo_path(@photo), method: :delete, data: {confirm: "削除しますか？"}, class: "details-delete__text"
        .photo-details__title 
          = @photo.title

        .photo-details__image
          = attachment_image_tag @photo, :image, class: "details__attachment__image"
        
        .diary__texts
          .icon__contents
            - if user_signed_in?
              -if @photo.favorited_by?(current_user)
                = link_to photo_favorites_path(@photo), method: :delete do
                  .peace__icon
                    = icon('fas', 'heart', class: "heart")
              - else
                = link_to photo_favorites_path(@photo), method: :post do
                  .peace__icon
                    = icon('far', 'heart', class: "heart")
              .show__count-num
                = @photo.favorites.count
            .post-user__icon
              = link_to user_path(@photo.user) do
                = attachment_image_tag @photo.user, :profile_image, fallback: "no-image.png", class: "post-user__attachment_image"

          .photo-details__body
            = simple_format @photo.body
            = render_with_hashtags(@photo.caption)
      
      .comment__contents
        .users__comments
          - if @comments 
            - @comments.each do |comment|
              .users__commnet__text
                .comment-user__icon
                  = link_to user_path(comment.user) do
                    = attachment_image_tag comment.user, :profile_image, fallback: "no-image.png", class: "comment-user__image"
                .commnet-user__text
                  = simple_format comment.text
        
        - if user_signed_in?
          .user-comment__submit
            = form_with(model: [@photo, @comment], local: true) do |form|
              = form.text_area :text, placeholder: "コメント", class: "comment__input"
              = form.submit "コメントする", class: "comment__btn"
-# %h1 Photos#show
-# %p Find me in app/views/photos/show.html.haml

